:root {
    --system-ui-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --pure-white-color: #FFFFFF;
    --blue-color: #1992D4;
    --gray-color: #E2E8F0;
    --gray-shadow: #CCD1D8;
    --orange-color: #F0B429;
    --pure-black-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--system-ui-font);
    letter-spacing: -1px;
}

input {
    font-family: inherit;
    font-size: 100%;
    width: 700px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--gray-color);
    border: none;
}

li {
    list-style-type: none;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: var(--pure-white-color);
    padding-left: 50px;
    padding-top: 20px;
    box-shadow: 0px 10px 5px -4px var(--gray-shadow);
    z-index: 1;

    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
}

.notification-svg {
    background-image: url('./svgs/bell-ring-outline.svg');
    width: 25px;
    height: 25px;
    place-self: center;
}

.user-svg {
    background-image: url('./avatars/avataaars.svg');
    background-size: contain;
    width: 60px;
    height: 60px;
    border-radius: 30px;

    align-self: center;
}

.user-account {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 20px;
}

.user-account > p {
    font-weight: bold;
    font-size: 1.2rem;

    align-self: center;
}

.another-user-account {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 10px;
}

.another-user-account > div {
    align-self: center;
}

.blue-buttons {
    grid-column: 2 / 4;
    grid-row: 2 / 3;

    align-content: center;
}

.blue-buttons ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.blue-buttons li {
    justify-self: center;
}

.another-user-svg {
    background-image: url('./avatars/avataaars.svg');
    background-size: contain;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.another-user-account p:last-of-type {
    font-weight: bold;
    font-size: 1.5rem;
}

.another-user-account p {
    font-weight: bold;
}

.search-svg {
    background-image: url('./svgs/magnify.svg');
    width: 25px;
    height: 25px;
}

.header-searchbar {
    display: grid;
    grid-template-columns: 25px 1fr;
    gap: 20px;
    align-items: center;
}

header li {
    width: 120px;
    height: 50px;
    background-color: var(--blue-color);
    color: var(--pure-white-color);
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 50px;

    display: grid;
    place-items: center;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: var(--blue-color);
    color: var(--pure-white-color);
    padding: 15px;
    font-weight: bold;
}

.sidebar > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.sidebar > div:not(:first-of-type) {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.sidebar > div > div {
    justify-self: center;
}

.dashboard {
    font-size: 1.7rem;
}

.dashboard {
    margin-bottom: 50px;
}

.sidebar > div:nth-child(7) { /* This is .communities, it's being outranked by .sidebar > div:not(:first-of-type) */
    margin-bottom: 70px;
}

.dashboard-svg {
    background-image: url('./svgs/view-dashboard.svg');
    width: 50px;
    height: 50px;
    filter: invert(1) brightness(100%);
}

.home-svg,
.profile-svg,
.messages-svg,
.history-svg,
.tasks-svg,
.communities-svg,
.settings-svg,
.support-svg,
.privacy-svg {
    width: 25px;
    height: 25px;
    filter: invert(1) brightness(100%);
}

.home-svg {
    background-image: url('./svgs/home.svg');
}

.profile-svg {
    background-image: url('./svgs/card-account-details.svg');
}

.messages-svg {
    background-image: url('./svgs/message-reply.svg');
}

.history-svg {
    background-image: url('./svgs/clock-time-three.svg');
}

.tasks-svg {
    background-image: url('./svgs/file-multiple.svg');
}

.communities-svg {
    background-image: url('./svgs/account-group.svg');
}

.settings-svg {
    background-image: url('./svgs/cog.svg');
}

.support-svg {
    background-image: url('./svgs/help-box.svg');
}

.privacy-svg {
    background-image: url('./svgs/shield-check.svg');
}

main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: var(--gray-color);
}
