:root {
    --system-ui-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --pure-white-color: #FFFFFF;
    --blue-color: #1992D4;
    --gray-color: #E2E8F0;
    --gray-shadow: #CCD1D8;
    --orange-color: #F0B429;
    --pure-black-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--system-ui-font);
}

input {
    font-family: inherit;
    font-size: 100%;
}

li {
    list-style-type: none;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
}

header {
    grid-area: header;
    background-color: var(--pure-white-color);
}

.sidebar {
    grid-area: sidebar;
    background-color: var(--blue-color);
    color: var(--pure-white-color);
    padding: 15px;
    font-weight: bold;
}

.sidebar > div {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.sidebar > div:not(:first-of-type) {
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.sidebar > div > div {
    justify-self: center;
}

.dashboard {
    font-size: 1.7rem;
}

.dashboard-svg {
    background-image: url('./svgs/view-dashboard.svg');
    width: 50px;
    height: 50px;
    filter: invert(1) brightness(100%);
}

.home-svg,
.profile-svg,
.messages-svg,
.history-svg,
.tasks-svg,
.communities-svg,
.settings-svg,
.support-svg,
.privacy-svg {
    width: 25px;
    height: 25px;
    filter: invert(1) brightness(100%);
}

.home-svg {
    background-image: url('./svgs/home.svg');
}

.profile-svg {
    background-image: url('./svgs/card-account-details.svg');
}

.messages-svg {
    background-image: url('./svgs/message-reply.svg');
}

.history-svg {
    background-image: url('./svgs/clock-time-three.svg');
}

.tasks-svg {
    background-image: url('./svgs/file-multiple.svg');
}

.communities-svg {
    background-image: url('./svgs/account-group.svg');
}

.settings-svg {
    background-image: url('./svgs/cog.svg');
}

.support-svg {
    background-image: url('./svgs/help-box.svg');
}

.privacy-svg {
    background-image: url('./svgs/shield-check.svg');
}

main {
    grid-area: main;
    background-color: var(--gray-color);
}
